.espacoCard img {
  height: 350px;
}

.card-body {
  height: 150px;
}

.btn {
  margin-top: 10px;
  background-color: #323659;
  border-color: #323659;
}

h3 {
  color: #3b4172;
  font-weight: 900;
}

.btn-primary{
  color: #e7ba80;
  font-weight: 800;
}

.btn-primary:hover{
  background-color: #3d5a80;
  color: #f1cb9a;
  background-color: #3d5a80;
}

.btn-danger{
  color: #e7ba80;
  font-weight: bolder;
}

.btn-danger:hover{
  background-color: #3d5a80;
  color: #f1cb9a;
  border-color: #3d5a80;
}