body {
  background-color: rgb(255, 245, 231);
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #323659;
  color: #e7ba80;
}

.espacoCard img {
  height: 350px;
}

.card-body {
  height: 150px;
}

.botoes {
  margin-top: 10px;
  background-color: #323659 !important; 
  border-color: #323659 !important;
  color: #e7ba80 !important;
  font-weight: 800;
}

h3 {
  color: #3b4172;
  font-weight: 900;
}

.botoes:hover{
  background-color: #3d5a80 !important;
  color: #f1cb9a !important;
  background-color: #3d5a80 !important;
}

.informacao{
  margin-top: 10px;
  background-color: #323659;
  border-color: #323659;
  color: #e7ba80;
  font-weight: 800;
}

.informacao:hover {
  background-color: #3d5a80 !important;
  color: #f1cb9a !important;
  background-color: #3d5a80 !important;
}

.titulo{
  color: #e7ba80 !important;
  font-weight: 800 !important;
  margin-left: 30px !important;
}