@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">VestLivros</h1>
    <p>Projeto visando facilitar a leitura dos livros obrigatórios das faculdades ao redor do Brasil, esse projeto tem o intuito de mostrar a análise crítica dos livros da época, breve resumo da obra e relações com o contexto histórico e social.</p>
</div>
