@{
    ViewData["Title"] = "Área Administrativa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <link href="~/css/site.css" rel="stylesheet">

<div class="container">
    <h1 class="display-4">Área Administrativa</h1>
    <p class="lead">Seja bem vindo Administrador! Utilize o menu lateral para acesso aos diferentes cadastros do portal!</p>
</div>