@model VestLivros.Models.Livro

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/css/admin.css" rel="stylesheet">

<h1>Editar livro cadastrado</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control">
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resumo" class="control-label"></label>
                <textarea rows="5" cols="30" asp-for="Resumo" class="form-control"></textarea>
                <span asp-validation-for="Resumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnaliseCritica" class="control-label"></label>
                <textarea rows="5" cols="30" asp-for="AnaliseCritica" class="form-control"></textarea>
                <span asp-validation-for="AnaliseCritica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contexto" class="control-label"></label>
                <textarea rows="5" cols="30" asp-for="Contexto" class="form-control"></textarea>
                <span asp-validation-for="Contexto" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FaculdadeId" class="control-label">Faculdade</label>
                <select asp-for="FaculdadeId" class="form-control" asp-items="ViewBag.Faculdades">
                    <option value="">Selecione uma faculdade</option>
                </select>
                <span asp-validation-for="FaculdadeId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label>Anos do Vestibular</label>
                <select name="anosSelecionados" class="form-control" multiple size="5" asp-items="ViewBag.Anos">
                </select>
                <small class="text-muted">Segure CTRL (ou CMD no Mac) para selecionar vários anos</small>
            </div>
            <div class="mb-3">
                <label class="control-label">Arquivo PDF</label>
                <input name="novoPdf" type="file" class="form-control" accept=".pdf" />
                <small class="text-muted">Selecione um novo arquivo somente se quiser trocar o PDF atual</small>

                @if (!string.IsNullOrEmpty(Model.PDF))
                {
                    <p class="mt-2">
                        PDF atual:
                        <a href="@Model.PDF" target="_blank" class="botao btn btn-sm btn-success">
                            Abrir PDF
                        </a>
                    </p>
                }
            </div>
            <div class="form-group mb-3">
                <label asp-for="ArquivoFoto" class="control-label">Imagem Atual</label><br />

                @if (!string.IsNullOrEmpty(Model.ArquivoFoto))
                {
                    <img src="@Model.ArquivoFoto" alt="Imagem atual" style="max-height:350px; border-radius: 10px;"
                        class="mb-2" />
                }
                else
                {
                    <p><em>Nenhuma imagem cadastrada</em></p>
                }

                <input name="novaImagem" type="file" class="form-control" accept=".jpg,.png,.jpeg,.gif" />
                <small class="text-muted">Selecione apenas se quiser trocar a imagem atual!!</small>
            </div>

            <div class="form-group">
                <label asp-for="Link" class="control-label">Link do Livro (opcional)</label>
                <input asp-for="Link" class="form-control" placeholder="https://exemplo.com/livro" />
                <span asp-validation-for="Link" class="text-danger"></span>

                @if (!string.IsNullOrEmpty(Model.Link))
                {
                    <p class="mt-2">
                        Link atual:
                        <a href="@Model.Link" target="_blank" class="botao btn btn-sm">Abrir Link</a>
                    </p>
                }
            </div>
            <div>
                <input type="submit" value="Salvar" class="botao btn" /> |
                <a class="botao btn" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>